language: perl
env:
  global:
    - MOARVM="2017.08"
    - NQP="2017.08"
    - RAKUDO="2017.08"
    - REVISION="01"
  matrix:
    - OS=centos ARCH=amd64 VERSION=7
    - OS=debian ARCH=amd64 VERSION=8
    - OS=debian ARCH=amd64 VERSION=9
    - OS=fedora ARCH=amd64 VERSION=25
    - OS=fedora ARCH=amd64 VERSION=26
    - OS=ubuntu ARCH=amd64 VERSION=16.04
    - OS=ubuntu ARCH=amd64 VERSION=17.04
    - OS=ubuntu ARCH=i386 VERSION=16.04
    - OS=ubuntu ARCH=i386 VERSION=17.04
sudo: required
services:
  - docker
install: true
script:
  - bin/create_container.pl -d docker/Dockerfile-pkgrakudo-${OS}-${ARCH}-${VERSION}
  - bin/pkg_rakudo.pl -a $ARCH -o $OS -v $VERSION -m $MOARVM -n $NQP -r $RAKUDO -p $REVISION -d /var/tmp
