language: generic
env:
  global:
    - RAKUDO_VERSION="2018.04.1"
    - NQP_VERSION="2018.04.1"
    - MOARVM_VERSION="2018.04.1"
    - REVISION="01"
    - MAINTAINER="Claudio Ramirez <pub.claudio@gmail.com>"
    - LOCAL_BUILD="1"
    - secure: "Oa9VgAUAQLiuO2YKGL7LtRDgg3rTfxvsTmkWZpdQbanA0uE1GT+pp2mHwUArvuUBMeCCoftzgNqXjLea+3uTJZfaiojdkxMwxq1/0LO2PqQNQw0HOAK31E8u+aoGhBBmmCW6UgzPxLQUm12FwJvSEOZlhW9Py2sNL/2p1GAM2D9BkA5+0rJZKR9/jhD+z031dXiQctdsJxfZx8KXBEN50P5mKCz2s6jQSlSxBpX4bI82j0mdrjXb1d0SDZVFXQyBXw+kbiCagaxvA1qTQ3kvrtUGHNytfZ7R91A5B4qiKZD8s2BNjZI9nqNLpHqi/IxFBzReSCLEAl8qe3nrgTshyD2rM7TSFWq0wP4Ht+UpbWRJMonYS8o850jFgC7/Zcq+QnRDMHCZIYXe+s1Nnb4oIk5mb49Oq7AeGBOXFfh6F6GK4QVDTHOBK9YX9/3JkwLgppMoK6KqCY9G2jiAAZHlQzfupYkoFXJbxSUx01qSAzPRljShQCOV/qO1pasDMueWBj5bQldzuHFf3hbQVqPIRM3RvG+eiN6+8/hgtUbfnSEmNdIDynQCHKH4Qvx4WGVl7/VEJc9QM1zzjVX16NNLcd0GmFrC/ODAwX53Sp3tHQrD9XJCa19gofptueNQBP9uDT6s539fr0ArEYgGSL1jCCCwblPiZruIiiRpZjTb0wc="
  matrix:
    - TAG="alpine-x86_64-3.6" REPO=apk ARCH=x86_64 OS=Alpine RELEASE="3.6"
    - TAG="alpine-x86_64-3.7" REPO=apk ARCH=x86_64 OS=Alpine RELEASE="3.7"
    - TAG="centos-x86_64-7" REPO=rpm ARCH=x86_64" OS=CentOS RELEASE=7
    - TAG="debian-amd64-8" REPO=deb CODENAME=jessie ARCH=amd64 OS=Debian RELEASE=8
    - TAG="debian-amd64-9" REPO=deb CODENAME=stretch ARCH=amd64 OS=Debian RELEASE=9
    - TAG="fedora-x86_64-26" REPO=rpm ARCH=x86_64 OS=Fedora RELEASE=26
    - TAG="fedora-x86_64-27" REPO=rpm ARCH=x86_64 OS=Fedora RELEASE=27
    - TAG="opensuse-x86_64-42.3" REPO=rpm ARCH=x86_64 OS=openSUSE RELEASE="42.3"
    - TAG="ubuntu-amd64-14.04" REPO=deb CODENAME=trusty ARCH=amd64 OS=Ubuntu RELEASE="14.04"
    - TAG="ubuntu-amd64-16.04" REPO=deb CODENAME=xenial ARCH=amd64 OS=Ubuntu RELEASE="16.04"
    - TAG="ubuntu-amd64-17.10" REPO=deb CODENAME=artful ARCH=amd64 OS=Ubuntu RELEASE="17.10"
    - TAG="ubuntu-amd64-18.04" REPO=deb CODENAME=bionic ARCH=amd64 OS=Ubuntu RELEASE="18.04"
    - TAG="ubuntu-i386-16.04" REPO=deb CODENAME=xenial ARCH=i386 OS=Ubuntu" RELEASE="16.04"
    - TAG="ubuntu-i386-17.10" REPO=deb CODENAME=artful ARCH=i386 OS=Ubuntu RELEASE="17.10"
    - TAG="ubuntu-i386-18.04" REPO=deb CODENAME=bionic ARCH=i386 OS=Ubuntu RELEASE="18.04"
sudo: required
services:
  - docker
install:
  - set -e
  - if [ -z "$LOCAL_BUILD" ]; then docker pull nxadm/rakudo-pkg:$TAG; else docker build -f docker/Dockerfile-$TAG -t nxadm/rakudo-pkg:$TAG docker; fi
script:
  - docker run -ti -v /var/tmp/rakudo-pkg:/staging -e RAKUDO_VERSION=$RAKUDO_VERSION -e NQP_VERSION=$NQP_VERSION -e MOARVM_VERSION=$MOARVM_VERSION -e REVISION=$REVISION -e OS=$OS -e RELEASE=$RELEASE -e ARCH=$ARCH -e MAINTAINER="$MAINTAINER" nxadm/rakudo-pkg:$TAG
deploy:
  provider: releases
  prerelease: true
  api_key:
    secure: kZZIX3JLoAowpJgQXUheKMquNtnPUNa18SFQQSYaQe3OjaBLzJGuI/Dv+eju3dZA9HWXVVfAl/EBYmx0YRyIa8XPoKL+hxbl29sdcP7wNi4OJsIcYr2dY7dcPY2T1RIWCd2cU7CXbJ1IquDN67asWEBxbpwpZluYDd9odx2JMeMAf2XX+VQjFxwK92hGrpLMdtzNstSiZvYn7inBTOU8nrBxQVccd7ec9ZsF8PUjohazUzpCHYvHgZOPHQZY1UgOD1KlrUmPtUToakDOnXyysZBvC3YBq833eqBXIlaoCELnFdzOnwIQzewxYgXrz4JQQhUmXPIvmylM0MoNp1MnkANs68oECBLvOB8kxOglIYWBad6GtaR5pkLhh3bPwc6fwqZZQMoqlncesKDPtHvmtQmWpWFxbwYsOFgFDcc3jW8DV233EbpubrREbrYFq83Ahc0aYx+GpNWFZ71jlXcErZ7tB/KltHWoCjLPq1dxCIFiq/AOLylK9meo/AQF+RXAb5+3fkd32X5xyRQejYfdhGxZ/c6QkV4C3BAIypJ76Hi0MfePuylMTe4P59nkT98j6ef3d8MtPHIM8DdBww6erseteKCaS0fZaf3e3YBhG9TJYLTHri4o/StCnqTMyiANEcsNoQB3oFC3z5Q76jYHocKo5g+z/6/ooeipn03hKsA=
  file_glob: true
  file: "/var/tmp/rakudo-pkg/*"
  skip_cleanup: true
  on:
    repo: nxadm/rakudo-pkg
    tags: true
    branches:
      only:
        - /^v20\d{2}\.\d{2}(\.\d+)?-\d+$/
after_deploy:
  - if [ $REPO == 'deb' ]; then cd /var/tmp/rakudo-pkg; export FILE=`ls -1 *.deb`; curl -T $FILE -unxadm:$BINTRAY_API "https://api.bintray.com/content/nxadm/rakudo-pkg-debs/rakudo-pkg/${RAKUDO_VERSION}-${REVISION}/pool/main/r/rakudo-pkg/$FILE;deb_distribution=$CODENAME;deb_component=main;deb_architecture=$ARCH;publish=1"; fi
  - if [ $REPO == 'rpm' ]; then cd /var/tmp/rakudo-pkg; export FILE=`ls -1 *.rpm`; curl -T $FILE -unxadm:$BINTRAY_API "https://api.bintray.com/content/nxadm/rakudo-pkg-rpms/rakudo-pkg/${RAKUDO_VERSION}-${REVISION}/$OS/$RELEASE/x86_64/$FILE;publish=1"; fi
